.header{
    height: 120px;
    width: 100%;
    background-color: aquamarine;
    display: flex;
}
.header-top{
    height: 70px;
    width: 100%;
    background-color: bisque;
}
.header-bottom{
    height: 50px;
    width: 100%;
    background-color: beige;
}
