.header{
    height: 120px;
    width: 1200px;
}
.header-top{
    height: 70px;
    width: 1200px;
    display: flex;
}
.logo{
    width: 480px;
    background-color: white;
    margin: 2px;
    font-size: 50px;
    text-align: center;
    text-shadow: 0 0 3px red;
}
.logo > img{
    height: 100%;
    width: 240px;
}
.image-container{
    width: 720;
    background-color: lightgrey;
}
.image-container > img{
    display: inline-block;
    justify-content: space-between;
    height: 70px;
    width: 240px;
    flex: 1;

}
.header-bottom{
    height: 50px;
    width: 100%;
    background-color: beige;
    border-top: 1px solid black;
    border-bottom: 2px solid black;
}

.content{
    height: 100%;
    width: 100%;
    background-color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 20%;
    
}
.footer{
    height: 60px;
    width: 100%;
    background-color: blanchedalmond;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
}
